
html{
  scroll-behavior: smooth;
}
body {
  background-color: rgb(10, 43, 50);
  color: rgb(230, 153, 0);
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
  margin:0; 
}

h1{
    font-size: 95px;
    justify-content: center;
    text-align: center;
    
}

.masthead {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
  font-size: 25px;
  gap: 3em;
  padding: 10px 20px;
  border-bottom: solid;
}

.masthead-logo img{
height: 100px;
width: auto;
display: block; 
}

.masthead-text {
  display: flex;
  gap: 2em;
}


.masthead-text a {
  color: rgb(230, 153, 0);
  text-decoration: none;
  transition: all 0.3s ease;
  gap: 2em;
}

.masthead-text a:hover {
  color: #dd7c21;
}

 .masthead span:hover {
    color: #dd7c21;
  }

h2{
    font-size: 25px;
}

.intro{
h1{
    font-size: 100px;
    justify-content: center;
    text-align: center;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
}
h2{
  font-size: 100px;
  justify-content: center;
  text-align: center;
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 0.3;
} 
}

.intro img{
  height: 600px;
  width: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15em;
}


.block-div, .block {
  display: block;
  border-radius: 0;
  color: rgb(175, 14, 9);
  background-color: #ffe6a8;
  border: 1px;
  padding: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 60%;          
  margin: 0 auto;    
  height: 850px;
  max-width: 650px;
  background-image: url(../assets/beige-paper.png);


  
  h1{
    font-size: 80px;
    justify-content: center;
    text-align: center;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: 45px;
    justify-content: center;
    text-align: left;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
    font-style: normal;
    line-height: 0.5;
}
  }

  .footer img{
  height: 100px;
  width: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;

  }

.intro-continued h1 {
  font-size: 80px;
  justify-content: center;
  text-align: center;
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.25em;
}

.intro-text-box p {
  font-size: 20px;
  justify-content: center;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 900px;
  margin-bottom: 7em;
}

.intro-text-box img{
  height: 600px;
  width: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
}
.grid-parent {
  display: grid;
  grid-template-columns: 3fr 1fr;   
  gap: 2em;
  max-width: 1000px;               
  margin-left:0;                  
  margin-right: auto;            
}


.grid-child {
  padding: 2em;
  min-height: 20vh;
  color: var(--background-color);
  margin: 0;
  width: 100%;
  max-width: none;
}

.grid-child p{
  font-size: 21px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  margin: 0 auto;
  margin-left: 2.5em;
  max-width: none;
}

.grid-child img {
  display: block;
  margin: 0em;
  max-width: none;
  height: 400px;
  padding-right: auto;
}

.grid-layout-parent {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2em;
  margin-bottom: 1em;
}

.sticky-container{
  position:relative;
  height: 100%;
}

.sticky {
  position: sticky;
  top: 1rem;
  width: 200px;
  max-height: 400px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: 2em;
  margin-bottom: 0;
  display: block;
  border-radius: 0;
  color: rgb(175, 14, 9);
  background-color: #ffe6a8;
  background-image: url(../assets/beige-paper.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition:  opacity 0.5s ease-out;
}

.sticky.visible {
  opacity: 1;
}



  
  h1{
    font-size: 30px;
    justify-content: center;
    text-align: center;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: 15px;
    justify-content: center;
    text-align: left;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
    font-style: normal;
    line-height: 0.5;
}



.Prep{
  h1{
    font-size: 80px;
    justify-content: left;
    text-align:left;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-left: 1em;  
    margin-bottom: 0;
    margin-top: 1.5em;
  } 
}

.Cook{
  h1{
    font-size: 80px;
    justify-content: left;
    text-align:left;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-left: 1em;  
    margin-bottom: 0.25em;
    margin-top: 3.5em;
  } 
}

.Assemble{
  h1{
    font-size: 80px;
    justify-content: left;
    text-align:left;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-left: 1em;  
    margin-bottom: 0.25em;
    margin-top: 3.5em;
  } 
}

.Ready{
  h1{
    margin-top: 3em;
    font-size: 80px;
    justify-content: center;
    text-align:center;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.25em;
  } 

}

.Ready img{
  height: 600px;
  width: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}



